*{
    margin:0;
    padding:0;
}
a { 
    text-decoration: none; 
   } 
  
body{
    background: #FCF8BD;
}
menu a{
   border: 2px dashed #56bfb4;
   border-radius: 50%;
}
.niz{
    background: #D88002;
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;

}
.custom-colored-h1{
    color: #56bfb4;
    font-size: 50px;
    margin-top: 15px;
    margin-left: 6px;
}
.photo{
    width:200px;
    height: 200px;
    float: left;
}
.center{
  width: 600px;
  margin: 0 auto;  
}
.tekst{
    float: right;
    width: 150px;
    height: 200px;
    margin-left: 50px;
    margin-top:8px;
   
}
.spiski{
   height: 200px;
   width: 400px;
   margin:6px;
}
.custom-colored-h3{
    color: #4072BB;
   margin-top: 10px;
}
.tekst ul li span{
   border-bottom: 2px solid  #40F993;
    color:  #8AF940;
    font-size: 20px; 
}
.tekst ul li{
color:#F9CA0C;
margin-bottom: 3px;
margin-top: 11px;
}

p{
 color:#fa89c7;
}
